{% extends "base.html" %}

{% load static %}

{% block title %} 
    {{post.title}}
{% endblock %} 

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/post-detail.css" %}" />
{% endblock %}

{% block content %}
{% if comment_form.errors %}
    <div id="alert">
        <h2>Saving your comment failed!</h2>
        <p>Please fill the form properly to get your form submitted.</p>
        <a href="#comment-form">Fix!</a>
    </div>
{% endif %}
<section id='summary'>
    <h2>{{post.title}}</h2>
    <div>
        {% for tag in post_tags  %}
            <span class="tag">{{tag.caption}}</span>
        {% endfor %}
    </div>
    <div id="read-later">
        <form action="{% url "read-later" %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{post.id}}" name="post_id">
        <button>{% if saved_for_later %}
            Remove from saved
            {% else %}
            Read Later
            {% endif %}</button>
    </form>
    </div>
    <article>
        <img src="{{post.image.url}}" alt="{{post.title}}" />
        <address><a href="mailto:{{post.author.email_address}}">{{post.author}}</a></address>
        <div>
            Last updated on <time>{{post.date|date:"d N Y"}}</time>
        </div>
    </article>
</section>

<main>
    <p>{{post.content| linebreaks }}</P>
</main>

<section id="comments">
    <ul>
        {% for comment in comments  %}
            <li>
                <h3>{{comment.user_name}}</h3>
                <p>{{comment.text |linebreaks}}</p>
            </li>
        {% endfor %}
    </ul>
</section>


<section id="comment-form">
    <h2>Leave a Comment</h2>
    <form action="{% url "post-detail-page" post.slug %}" method="POST" >
        {% csrf_token %}
        {% for form in comment_form  %}
        <div class="form-control {% if form.errors %}invalid{% endif %}">
            {{form.label_tag}}
            {{form}}
            {{form.errors}}
        </div>
        {% endfor %}
        <button>Save Comment</button>
    </form>
</section>
{%endblock%}